.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
#grad1 {
  height: auto;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #3D7291, #17A2B8);
}
